/*seletor propriedade valor */
body {
    background: #cecece;
}

p {
    color: #222222;
}

.foto-principal {
    width: 200px;
    border: 5px solid white; /* shorthand*/
    border-radius: 50% 50% 50% 50%;
    /*
    border-width: 5px;    
    border-style: solid;
    border-color: black;
    */
}
